# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# 빌드 결과물 폴더 무시
/bin/
/obj/

# Visual Studio 관련 파일 무시
/.vs/
*.suo
Hello/obj/
IntegerLiterals/bin/
IntegerLiterals/obj/
IntegralTypes/obj/
Overflow/obj/
